<div class="row" style="padding-top: 20px;">
  <div class="col-xs-12">
    <h4><a href="/admin/">Admin</a> / Dashboard</h4>
    <p class="help-block">Manage PagerMon data, members and system configuration.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-heading"><strong><i class="fa fa-address-card"></i> Aliases</strong></div><div class="panel-body"><p>Manage capcodes, agency details, colours and icons.</p><a href="/admin/aliases" class="btn btn-primary btn-block">Manage aliases</a></div></div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-heading"><strong><i class="fa fa-users"></i> Members</strong></div><div class="panel-body"><p>Approve registrations and manage existing user accounts.</p><a href="/admin/users" class="btn btn-primary btn-block">Manage members</a></div></div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-heading"><strong><i class="fa fa-cogs"></i> Settings</strong></div><div class="panel-body"><p>Configure appearance, integrations, privacy and plugins.</p><a href="/admin/settings" class="btn btn-primary btn-block">Open settings</a></div></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default"><div class="panel-heading"><strong><i class="fa fa-heartbeat"></i> Service status</strong></div><div class="panel-body"><p>Check the local service and configured receiver nodes.</p><a href="/service-status" class="btn btn-default btn-block">View service status</a></div></div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default"><div class="panel-heading"><strong><i class="fa fa-life-ring"></i> Help and documentation</strong></div><div class="panel-body"><p>Read setup information and report issues with the maintained fork.</p><a href="https://github.com/rodgrech/pagermon" class="btn btn-default btn-block" target="_blank" rel="noopener">Open documentation</a></div></div>
  </div>
</div>
